*~
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.log
**/*.out
**/*.synctex(busy)
**/*.synctex.gz
**/*.xdv
**/*thesis.lot
thesis/thesis.pdf
**/*.toc
lib/*
tmp/*
main

.vscode/settings.json

# OCaml
_build
**/*.exe
**/.merlin

src/angstrom_extended_async
*.shard
							